<!-- app/views/quotes/_quote.html.erb (or admin/quotes/_quote.html.erb) -->
<div class="quote card mb-3">
  <div class="card-body">
    <blockquote class="blockquote animate-fade-up">
    <% if quote.image.attached? %>
          <div class="author-image mt-2 animate-fade-in">
            <%= image_tag quote.image, class: "img-thumbnail", width:"100%", height:"auto", style:'object-fit: cover;aspect-ratio: 1/1;' %>
          </div>
        <% end %>
      <p><%= quote.description %></p>
      <footer class="blockquote-footer animate-fade-in">
        <%= quote.title %> — 
        <cite title="Author" class="animate-fade-in">
        <%= quote.author.presence || "Anonymous" %> 
        
        </cite>
      </footer>
    </blockquote>
    <cite class="animate-fade-up">
      <%= quote.date&.strftime("%B %d, %Y") || "Date not set" %>
      <% if quote.category.present? %>
        | <%= quote.category %>
      <% end %>
    </cite>
  </div>
</div>