<%= form_with model: quote, url: [:admin, quote], local: true do |f| %>

 
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :source %>
    <%= f.text_field :source, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(["Passions and Emotions", "Other"], selected: quote.category), class: "form-control" %>
  </div>


  <div class="form-group mb-3">
    <%= f.label :date, "Quote Date" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 6 %>
  </div>

  <div class="form-group">
    <%= f.label :explanation %>
    <%= f.text_area :explanation, class: "form-control", rows: 6 %>
  </div>



  <div class="form-actions">
    <%= f.submit quote.persisted? ? "Update Item" : "Create Item", class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_quotes_path, class: "btn btn-secondary" %>
  </div>
<% end %>